<!DOCTYPE html>
<html lang="en" data-ng-App="hackApp">
    <head>
        <meta charset="utf-8">
        <title>BLR</title>

        <script src="/code/js/jquery.js"></script>
        <script src="http://ajax.googleaips.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <script src="/code/js/hackApp.js"></script>
        <script src="/code/js/indexService.js"></script>
        <script src="/code/js/indexController.js"></script>

       <!--  <script src="/code/js/lineChartController.js"></script>
        <script src='/code/js/lineChartService.js'></script>
     --></head>

    <body>
      <div data-ng-controller="IndexController">
      <h3>Select a user</h3>
      <label><b>User: {{selectedName}}{{permissions}}</b></label>
      <br>
      <select ng-model="selectedName" ng-options="n for n in names" data-ng-change="selectName()"></select>
      <!--<div data-ng-include="'/views/show_div_test.html'"></div>-->


        <h3>Flight data</h3>
        <div data-ng-hide='!selectedName || loadedFlightNumbers'><h4>Loading...</h4></div>

      <div data-ng-show="loadedFlightNumbers">
        <select ng-model="selectedTailNumber" ng-options="t for t in tailNumbers" data-ng-change="selectTailNumber()"></select>
        <div style="height: 800px; width: 1600px;" id="plot"></div>
      </div>

      <h3>Latest 100 Faults</h3>
      <h4 data-ng-show="loading">loading...</h4>
      <div ng-repeat='row in fault_rows'>
        <p>{{row.DATE_OF_OCCURRENCE}}, {{row.REGISTRATION}}, {{row.MAJOR_SYSTEM_1}}, {{row.OPERATION_NAME}}, {{row.SHIP_STATION}}</p>
      </div>
      </div>

      <!-- <div ng-show="loading" data-ng-include="'/views/loading.html'"></div> -->

      <!-- <div data-ng-controller=LineChartController>
                <div style="height: 400px; width: 600px;" id="plot"></div>
      </div> -->

    </body>
</html>
