<div id="divButton" class="clearfix" ng-controller="testController">
<div id="buttonToShowDiv">
    <button class="btn btn-danger btn-lg pull-right" ng-click="showAlert()">go</button>
</div>

   <div id="myDiv" ng-show="myvalue" class="ng-cloak">
      Clicked the button
   </div>
</div>
