<div class="row">

   <div class="col-xs-12">
       <input type="text"
              placeholder="Start typing your name..."
              ng-model="selectedName"
              uib-typeahead="fullName as guest.fullName for name in names | filter:{fullName:$viewValue} | limitTo:6"
              typeahead-on-select="selectGuest($item, $model, $label, $event)"
              class="form-control guest-picker">
   </div>
</div>
